.order__buttons {
    padding: 2%;
}

body {
    color: black;
    justify-content: center;
    text-align: center;
}

.cashier__pageOrder {
    height: 100%;
    /* background: whitesmoke; */
    background-color: #faf7ef;
}

.cashier__mobileorders {
    width: 25%;
    /* background: whitesmoke; */
    background-color: #faf7ef;
    float: left;
    height: 100%;
}

.cashier__orderingSection {
    /* display: inline-block; */
    width: 50%;
    /* background: whitesmoke; */
    background-color: #faf7ef;
    float: left;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.cashier__currentOrder {
    /* display: inline-block; */

    /* background-color: whitesmoke; */
    background-color: #faf7ef;
    float: left;
    width: 25%;
    height: 100%;
}

.addItems {
    bottom: 5%;
    right: 2.5%;
    margin: 5%;
}

.h1 {
    font-weight: bold;
    font-size: 30%;
}

table {
    margin-left: 10px;
    margin-right: 1px;
    width: 100%;
    justify-content: center;
}

.delete {
    width: 35%;
}

.item {
    width: 45%;
}

.price {
    width: 20%;
}

/* .buttonDone{
    margin-top: 10px;
    margin-bottom: 0px;
} */

.orderid {
    width: 40%;
}
.buttonDone {
    width: 50%;
}

.costCol {
    width: 15%;
}
