.order__buttons {
    padding: 2%;
}

body {
    
    color: black;
    justify-content: center;
    text-align: center;
}

.cashier__pageOrder {
    height: 100%;
    background: whitesmoke;
}

.cashier__mobileorders{
    width: 25%;
    background: whitesmoke;
    float: left;
    height: 100%;
    
}

.cashier__orderingSection {
    /* display: inline-block; */
    width: 50%;
    background: whitesmoke;
    float: left;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.cashier__currentOrder {
    /* display: inline-block; */
    
    background-color: whitesmoke;
    float: left;
    width: 25%;
    height: 100%;
}


.addItems{
    bottom: 5%;
    right: 2.5%;
    margin: 5%;
}

.h1{
    font-weight: bold;
    font-size: 30%;
}

table{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}


.delete{
    width:35%;
}

.item{
    width: 45%;
}

.price{
    width: 20%;
}

/* .buttonDone{
    margin-top: 10px;
    margin-bottom: 0px;
} */

.buttonDone{
    width: 50%;
}

.costCol{
    width: 15%;
}