div {
    font-family: "Montserrat", sans-serif;
}

.btn {
    height: 150px;
    width: 400px;
    background-color: #283593;
    color: white;
    font-size: larger;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 3vh;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #4752a7;
}

.checkout__pageCheckout {
    height: 100%;
    background: whitesmoke;
}

.checkout__receipt {
    background-color: whitesmoke;
    float: right;
    width: 25%;
    height: 100%;
}

.checkout__options {
    width: 75%;
    background: whitesmoke;
    float: left;
    height: 100%;
    border-right: 2px solid black;
}

.checkout__buttons {
    padding: 2%;
}
