.order__buttons {
    padding: 2%;
}

body {
    
    color: black;
    justify-content: center;
    text-align: center;
}

.order__pageOrder {
    height: 100%;
    background: whitesmoke;
}
.order__orderingSection {
    /* display: inline-block; */
    width: 75%;
    background: whitesmoke;
    float: left;
    height: 100%;
    border-right: 2px solid black;
}

.order__currentOrder {
    /* display: inline-block; */
    
    background-color: whitesmoke;
    float: left;
    width: 25%;
}

.addItems{
    bottom: 5%;
    right: 2.5%;
    margin: 5%;
}

.h1{
    font-weight: bold;
    font-size: 30%;
}

table{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}


.delete{
    width:35%;
}

.item{
    width: 45%;
}

.price{
    width: 20%;
}