.inventory_page{
    height: 100%;
}

.inventory_activate-section{
    height: 100%;
    width: 37.5%;
    background: #e7e3fc;
    float: left;
}

.inventory_deactivate-section{
    height: 100%;
    width: 37.5%;
    background: #e48eac;
    float: left;
    /* color:#82cdad */
}

.inventory_receipt-section{
    background-color: #b3aed4;
    float: left;
    width: 25%;
    height: 100;
}

.inventory-btn{
    padding: 2%;
}



