
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


div{
  font-family: 'Montserrat', sans-serif;
}

.backButtons{
  position:absolute;
  bottom: 5%;
  left: 2.5%;
}

.pomHoneyLogo{
  width: 15%;
  
  justify-content: left;
  margin-left: 0;
  margin-right: auto;
  height: auto;
  padding: 1%; 
  
}

.header{
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  display:flex;
  justify-content: center;
}

.title{
  flex:auto;
  font-size: 150%;
  margin: auto;
  font-weight: bold;
}

.imgLogo{
  display:contents;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
