.pad {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputBox {
    height: 10vh;
    width: 30vh;
}

.key{
    height: 10vh;
    width: 10vh;
    align-items: center;
    justify-content: center;
}

.btn {
    height: 10vh;
    width: 30vh;
}