nav {
    background: #faf7ef;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 150%;
    border-bottom: 3px solid black;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    vertical-align: auto;
}

.nav__link:hover {
    background-color: #283593;
    color: white;
    text-decoration: none;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    text-decoration: none;
    margin: 0;
}

.logoNav {
    width: 120px;
    margin: 0;
    padding: none;
}
/* 
a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

a:hover{
    background-color:#283593;
    color:white;
    text-decoration: none;
} */
