nav {
    background: #283593;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 150%;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.nav__link:hover {
    background-color: #d0cdd4;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.logoNav {
    width: 120px;
    margin: 0;
    padding: none;
}
